@import "tailwindcss";

@theme inline {
  --color-primary: #473bf0;
  --color-primary-hover: #3b31c9;
  --color-secondary: #00a3ff;
  --color-text-dark: #1f2937;
  --color-text-light: #6b7280;
  --font-sans:
    var(--font-pjs), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #fbfaff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
